$gray-100: #EBEBEB;
$gray-200: #D6D6D6;
$gray-300: #C2C2C2;
$gray-400: #ADADAD;
$gray-500: #9B9B9B;
$gray-600: #666666;
$gray-700: #525252;
$gray-800: #3D3D3D;
$gray-900: #292929;

$primary: #0056c1;
$success: #417505;
// $info:          $cyan;
$warning: #F6BB3B;
$danger: #7e0a00;
$secondary: #0056c1;

// $info-outline:    #1f7e9a;
// $warning-outline: #a6670e;

// // Tables
// $table-accent-bg:             rgba($black, .03);

// // Options
// $enable-responsive-font-sizes: true;

// // Body
$body-color: $gray-800;

// // Fonts
$font-size-base: 1rem;
// $rfs-base-font-size: 0.9rem;
// $headings-font-weight:   700;

// // Navbar
// $navbar-dark-hover-color:           rgba($white, 1);
// $navbar-light-color:                rgba($black, 0.6);
// $navbar-light-hover-color:          rgba($black, .9);

// // Breadcrumbs
// $breadcrumb-padding-y:              .5rem;
// $breadcrumb-padding-x:              0;
// $breadcrumb-item-padding:           .5rem;
// $breadcrumb-margin-bottom:          0;
// $breadcrumb-bg:                     transparent;
// $breadcrumb-divider: "/";
// $breadcrumb-divider-rtl: "/";

// // Alerts
// $alert-border-width:                0;

// $card-group-margin: .25rem;

// // Toasts
// $toast-color:                       $white;
// $toast-background-color:            rgba($gray-900, .95);
// $toast-header-color:                $gray-100;
// $toast-header-background-color:     rgba($white, .1);

// // Custom control size
// $custom-control-indicator-size: 1.25rem;

// $input-btn-focus-color: rgba($primary, .75);

// $input-border-color: $gray-500;

// $dropdown-link-hover-color: $white;
// $dropdown-link-hover-bg: $primary;

// $popover-max-width: 300px;

$border-radius: 2px;
$border-radius-lg: 4px;

$spacer: 8px;
