body {
  font-family: var(--font-family-sans);
  background: var(--gray50);
}

idp-login {
	position: fixed;
	top: 0;
	z-index: 21;
	height: auto !important;
}

idp-login + * {
	margin-top: 48px;
}

idp-login + header {
	box-shadow: var(--shadow-3);
}

zanichelli-footer {
	display: block;
	margin-top: calc(var(--grid-margin) * 2);
}

z-menu > a:hover {
  text-decoration: none;
}

z-menu > a.focus,
z-menu > a:not([class]):focus {
  background-color: transparent;
  box-shadow: none;
}

z-menu > a {
  color: var(--color-text01);
}

.course-section .section-item {
    border: 0;
}

.secondary-navigation .navigation {
    padding: 0 calc(0.5rem);
    border-bottom: 0;
    background-color: transparent;
}

.page-context-header .page-header-headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: var(--font-size-6);
        font-weight: var(--font-sb);
        line-height: 2rem;
        border-bottom: 4px solid var(--color-primary01);
    }
}

.course-section .availabilityinfo {
    border-radius: var(--border-radius);
    padding: var(--space-unit);
}

div[role="main"] {
    padding: calc(var(--space-unit)* 1.5) var(--space-unit);
    background: var(--color-surface01);
    border: solid var(--border-size-small) var(--color-surface03);
    border-radius: var(--border-radius);
    padding: calc(var(--space-unit)* 1.5) calc(var(--space-unit)* 2) !important;
    margin-bottom: calc(var(--space-unit)* 3);
}

#page.drawers {
  padding: var(--grid-margin);
  margin-top: 0;

  & .main-inner {
    background-color: transparent;
    padding: var(--grid-margin) 0;
    margin: 0;
    max-width: 100% !important;
  }

  & div[role="main"] {
    padding: 0;
  }

  & .header-maxwidth {
    padding: 0;
  }
}

idp-login :is(#divider-container, button#guestbutton) {
  display: none !important;
}

#page {
    margin-top: auto !important;
}

.btn:not(.dropdown-toggle) {
    display: inline-flex !important;
    box-sizing: border-box !important;
    align-items: center !important;
    justify-content: center !important;
    height: 44px !important;
    min-width: 44px !important;
    border-width: var(--border-size-medium) !important;
    border-style: solid !important;
    border-radius: var(--border-radius) !important;
    border-color: var(--color-primary01) !important;
    background-color: var(--color-primary01) !important;
    color: var(--color-text-inverse) !important;
    cursor: pointer !important;
    fill: currentcolor !important;
    font-family: var(--font-family-sans) !important;
    font-size: 14px !important;
    font-weight: var(--font-sb) !important;
    letter-spacing: 0.3px !important;
    line-height: 1 !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    white-space: nowrap !important;

    &.p-0, &.p-1, &.p-2 {
        padding: 0 calc(var(--space-unit) * 2) !important;
    }

    &:not(.btn-secondary) i {
        margin-right: 0 !important;
    }

    &:not(.btn-secondary) i,
    & a {
        color: var(--color-text-inverse) !important;
        text-decoration: none !important;
    }

    &.btn-sm {
        min-width: 36px !important;
        height: 36px !important;
    }

    &[data-disabled]:not([data-disabled='false']) {
        pointer-events: none !important;
        border-color: var(--color-disabled01) !important;
        background-color: var(--color-disabled01) !important;
        color: var(--color-disabled02) !important;
    }

    @media (hover: hover) {
        &:hover {
        border-color: var(--color-hover-primary) !important;
        background-color: var(--color-hover-primary) !important;
        color: var(--color-text-inverse) !important;
        }
    }

    &:active {
        border-color: var(--color-pressed-primary) !important;
        background-color: var(--color-pressed-primary) !important;
        box-shadow: var(--shadow-2) !important;
        color: var(--color-text-inverse) !important;
    }
}

.login-container {
    box-shadow: none!important;
    background: transparent!important;
}

#region-main {
    background-color: transparent;
}

#page.drawers .activity-header {
    margin-left: 0;
    margin-right: 0;
}

.btn-secondary {
    border-color: var(--color-primary01) !important;
    background-color: var(--color-surface01) !important;
    color: var(--color-primary01) !important;

    &[data-disabled]:not([data-disabled='false']) {
        border-color: var(--color-disabled01) !important;
        background-color: var(--color-surface01) !important;
        color: var(--color-disabled02) !important;
    }

    @media (hover: hover) {
        &:hover {
        border-color: var(--color-hover-primary) !important;
        color: var(--color-hover-primary) !important;
        }
    }

    &:active {
        border-color: var(--color-pressed-primary) !important;
        background-color: var(--color-surface01) !important;
        box-shadow: var(--shadow-2) !important;
        color: var(--color-pressed-primary) !important;
    }
}

.bg-secondary.text-dark {
    color: var(--color-text-inverse) !important;
}